@import "variables";

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin sectionTtl($color) {
  margin: 0 0 1.2rem 0;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 36px;
  color: $color;
  @include mq(lg) {
    font-size: 32px;
  }
}

@mixin sectionLead($color) {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 18px;
  color: $color;
}

@mixin sectionTxt($color) {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  color: $color;
}

@mixin cardTtl($color) {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 20px;
  color: $color;
}

@mixin cardSubttl($color) {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  color: $color;
  margin: 0.2rem 0 0 0;
}

@mixin cardTxt($color) {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 20px;
  color: $color;
  margin: 1.6rem 0 0 0;
}

@mixin button-primary($color) {
  color: $color;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  width: 258px;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  background: url(../img/buttonBg.svg) center no-repeat;
}

@mixin button-submit {
  color: $brand;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  background:$white;
  border-radius: 0;
}