@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
/* ---------------- Common start ---------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.4;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.sp-show {
  display: none;
}

@media (max-width: 992px) {
  .sp-show {
    display: block;
  }
}

.pc-show {
  display: block;
}

@media (max-width: 992px) {
  .pc-show {
    display: none;
  }
}

.container {
  max-width: 1060px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 860px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
}

@media (max-width: 0) {
  .container {
    padding: 0 0.8rem;
  }
}

.top-section_TtlBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1rem 0;
}

.top-section_Ttl, .top-section_Btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #7A8A94;
  font-weight: 400;
}

@media (max-width: 768px) {
  .top-section_Ttl, .top-section_Btn {
    font-size: 16px;
  }
}

.top-section_Btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.top-section_Btn svg {
  width: 1.8rem;
  margin: 0 0 0 0.4rem;
}

@media (max-width: 768px) {
  .top-section_Btn svg {
    width: 1.4rem;
  }
}

/* ---------------- pace.js start ---------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace .pace-progress {
  background: #004FF3;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  z-index: 9999;
}

.pace-inactive {
  display: none;
}

.oldie .pace {
  display: none;
}

/* ---------------- Preloder start ---------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background: #fff;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: -30px;
  margin-top: -30px;
}

#loader::before {
  content: "";
  border-top: 6px solid #004FF3;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #004FF3;
  -webkit-animation: load 1s infinite linear;
  animation: load 1s infinite linear;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ---------------- header start ---------------- */
.header {
  height: 100vh;
  position: relative;
}

@media (max-width: 992px) {
  .header {
    height: 64vh;
  }
}

.header_ttlBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5rem;
  color: #fff;
  z-index: 10;
  padding: 0 2rem;
}

@media (max-width: 992px) {
  .header_ttlBox {
    bottom: 4rem;
  }
}

@media (max-width: 576px) {
  .header_ttlBox {
    bottom: 2rem;
  }
}

.header_ttlBox_ttl {
  font-weight: 500;
  font-size: 52px;
  margin: 0 0 1.4rem 0;
}

@media (max-width: 1200px) {
  .header_ttlBox_ttl {
    font-size: 46px;
  }
}

@media (max-width: 992px) {
  .header_ttlBox_ttl {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .header_ttlBox_ttl {
    font-size: 36px;
  }
}

.header_ttlBox_txt {
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .header_ttlBox_txt {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .header_ttlBox_txt {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .header_ttlBox_txt {
    font-size: 16px;
  }
}

.header .header-content {
  position: relative;
  background-size: cover;
  background-color: rgba(0, 79, 243, 0.4);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 8;
}

@media (max-width: 992px) {
  .header .header-content {
    height: 64vh;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.bg-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#004FF3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #004FF3);
  bottom: 0;
  left: 0;
  z-index: 9;
}

.header #video-background {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  z-index: -100;
  z-index: -100;
  z-index: -100;
}

@media (max-width: 1200px) {
  .header #video-background {
    font-size: 20px;
  }
}

/* ---------------- intro start ---------------- */
.intro {
  padding: 6rem 0;
  background: url(../img/SectionBg.png) center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .intro {
    padding: 4rem 0;
  }
}

@media (max-width: 576px) {
  .intro {
    padding: 3rem 0 4rem;
  }
}

.intro-content {
  text-align: left;
  letter-spacing: 0.06em;
}

.intro-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #fff;
}

@media (max-width: 768px) {
  .intro-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .intro-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.intro-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 768px) {
  .intro-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .intro-content .sectionLead {
    font-size: 14px;
  }
}

.intro-content .sectionBoxWrapper {
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .intro-content .sectionBoxWrapper {
    display: block;
  }
}

.intro-content .sectionBoxWrapper .sectionBox {
  display: block;
  background: rgba(255, 255, 255, 0.16);
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 1rem;
  width: 33.333%;
}

@media (max-width: 992px) {
  .intro-content .sectionBoxWrapper .sectionBox {
    width: 100%;
    margin: 2rem 0;
  }
}

@media (max-width: 576px) {
  .intro-content .sectionBoxWrapper .sectionBox {
    margin: 1rem 0;
    padding: 1.2rem;
  }
}

.intro-content .sectionBoxWrapper .sectionBox:first-child {
  margin: 0;
}

.intro-content .sectionBoxWrapper .sectionBox:last-child {
  margin: 0;
}

.intro-content .sectionBoxWrapper .sectionBox img {
  width: 100px;
}

@media (max-width: 576px) {
  .intro-content .sectionBoxWrapper .sectionBox img {
    width: 80px;
  }
}

.intro-content .sectionBoxWrapper .sectionBox .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin: 1.6rem 0 0 0;
}

@media (max-width: 768px) {
  .intro-content .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .intro-content .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 18px;
  }
}

.intro-content .sectionBoxWrapper .sectionBox .sectionList {
  list-style: disc;
  padding: 0 0 0 1rem;
  margin: 1.6rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 768px) {
  .intro-content .sectionBoxWrapper .sectionBox .sectionList {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .intro-content .sectionBoxWrapper .sectionBox .sectionList {
    margin: 1rem 0 0 0;
  }
}

.intro-content .sectionBoxWrapper .sectionBox .sectionList li {
  margin: 1rem 0 0 0;
}

@media (max-width: 992px) {
  .intro-content .sectionBoxWrapper .sectionBox .sectionList li {
    margin: 0.4rem 0 0 0;
  }
}

.intro-contentSec {
  margin: 4rem 0 0 0;
}

@media (max-width: 992px) {
  .intro-contentSec {
    margin: 3rem 0 0 0;
  }
}

@media (max-width: 576px) {
  .intro-contentSec {
    margin: 2rem 0 0 0;
  }
}

/* ---------------- intro end ---------------- */
/* ---------------- product start ---------------- */
.product {
  padding: 4rem 0 6rem;
  background: #FAFAFA;
}

@media (max-width: 992px) {
  .product {
    padding: 4rem 0 3rem;
  }
}

@media (max-width: 576px) {
  .product {
    padding: 3rem 0 2rem;
  }
}

.product-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .product-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .product-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.product-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .product-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .product-content .sectionLead {
    font-size: 14px;
  }
}

.product .slider-wrapper {
  margin: 2rem 0 0 0;
}

.product .slider-wrapper .card-slider-product {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  .product .slider-wrapper .card-slider-product {
    padding: 0 0 50px 0;
  }
}

.product .slider-wrapper .card-slider-product .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  min-height: 330px;
}

@media (max-width: 1200px) {
  .product .slider-wrapper .card-slider-product .swiper-slide {
    min-height: 428px;
  }
}

@media (max-width: 992px) {
  .product .slider-wrapper .card-slider-product .swiper-slide {
    min-height: 252px;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox {
  padding: 2rem;
  background: #fff;
  border: 1px solid #CBCAFC;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .product .slider-wrapper .card-slider-product .sectionBox {
    padding: 1.2rem;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox-TtlWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .slider-wrapper .card-slider-product .sectionBox-TtlWrapper img {
  width: 60px;
}

.product .slider-wrapper .card-slider-product .sectionBox-Ttl {
  margin: 0 0 0 1.6rem;
  display: block;
}

@media (max-width: 576px) {
  .product .slider-wrapper .card-slider-product .sectionBox-Ttl {
    margin: 0 0 0 1rem;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox-Ttl .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .product .slider-wrapper .card-slider-product .sectionBox-Ttl .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .product .slider-wrapper .card-slider-product .sectionBox-Ttl .cardTtl {
    font-size: 18px;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox-Ttl .cardSubttl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #004FF3;
  margin: 0.2rem 0 0 0;
}

@media (max-width: 768px) {
  .product .slider-wrapper .card-slider-product .sectionBox-Ttl .cardSubttl {
    margin: 0;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox .sectionList {
  list-style: disc;
  padding: 0 0 0 1rem;
  margin: 1.6rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .product .slider-wrapper .card-slider-product .sectionBox .sectionList {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .product .slider-wrapper .card-slider-product .sectionBox .sectionList {
    margin: 1rem 0 0 0;
  }
}

.product .slider-wrapper .card-slider-product .sectionBox .sectionList li {
  margin: 0.4rem 0 0 0;
}

.product .slider-wrapper .card-slider-product .swiper-pagination {
  bottom: 0;
}

/* ---------------- product end ---------------- */
/* ---------------- demo start ---------------- */
.demo {
  padding: 4rem 0;
}

@media (max-width: 576px) {
  .demo {
    padding: 3rem 0;
  }
}

.demo-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .demo-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .demo-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.demo-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .demo-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .demo-content .sectionLead {
    font-size: 14px;
  }
}

.demo .sectionBox {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

@media (max-width: 1200px) {
  .demo .sectionBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .demo .sectionBox {
    display: block;
    padding: 0;
  }
}

.demo .sectionBox img {
  height: 360px;
}

@media (max-width: 1200px) {
  .demo .sectionBox img {
    height: auto;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .demo .sectionBox img {
    width: 100%;
  }
}

.demo .button {
  text-align: center;
  padding: 1rem 0;
}

.demo .button svg {
  position: relative;
  margin: 0 0 0 0.8rem;
}

.demo .button-primary {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 0;
  width: 258px;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  background: url(../img/buttonBg.svg) center no-repeat;
}

@media (max-width: 768px) {
  .demo .button-primary {
    font-size: 1rem;
  }
}

/* ---------------- demo end ---------------- */
/* ---------------- whyUs start ---------------- */
.whyUs {
  padding: 4rem 0 6rem;
  background: #FAFAFA;
}

@media (max-width: 576px) {
  .whyUs {
    padding: 3rem 0;
  }
}

.whyUs-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .whyUs-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .whyUs-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.whyUs .sectionBoxWrapper {
  margin: 2rem auto 0;
}

.whyUs .sectionBoxWrapper .sectionBox {
  background: #fff;
  padding: 3rem 4rem;
}

@media (max-width: 992px) {
  .whyUs .sectionBoxWrapper .sectionBox {
    border-bottom: 1px solid #CBCAFC;
    padding: 2rem 3rem;
  }
}

@media (max-width: 576px) {
  .whyUs .sectionBoxWrapper .sectionBox {
    padding: 1.4rem;
  }
}

.whyUs .sectionBoxWrapper .sectionBox .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .whyUs .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .whyUs .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 18px;
  }
}

.whyUs .sectionBoxWrapper .sectionBox .sectionList {
  list-style: disc;
  padding: 0 0 0 1rem;
  margin: 1.6rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .whyUs .sectionBoxWrapper .sectionBox .sectionList {
    margin: 0.8rem 0 0 0;
  }
}

@media (max-width: 768px) {
  .whyUs .sectionBoxWrapper .sectionBox .sectionList {
    font-size: 14px;
  }
}

.whyUs .sectionBoxWrapper .sectionBox .sectionList li {
  margin: 1rem 0 0 0;
}

@media (max-width: 768px) {
  .whyUs .sectionBoxWrapper .sectionBox .sectionList li {
    margin: 0.4rem 0 0 0;
  }
}

.whyUs .sectionBoxWrapper .rightLine {
  border-right: 1px solid #CBCAFC;
}

@media (max-width: 992px) {
  .whyUs .sectionBoxWrapper .rightLine {
    border-right: 0;
  }
}

.whyUs .sectionBoxWrapper .bottomLine {
  border-bottom: 1px solid #CBCAFC;
}

@media (max-width: 992px) {
  .whyUs .sectionBoxWrapper .noLine {
    border-bottom: 0;
  }
}

/* ---------------- whyUs end ---------------- */
/* ---------------- record start ---------------- */
.record {
  padding: 4rem 0 6rem;
}

@media (max-width: 768px) {
  .record {
    padding: 3rem 0 2rem;
  }
}

.record-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .record-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .record-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.record-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .record-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .record-content .sectionLead {
    font-size: 14px;
  }
}

.record .sectionBoxWrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem auto 0;
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper {
    display: block;
    margin: 2rem auto 0;
  }
}

.record .sectionBoxWrapper .sectionBox {
  display: block;
  text-align: center;
  padding: 2rem;
  width: 33.33%;
}

@media (max-width: 992px) {
  .record .sectionBoxWrapper .sectionBox {
    padding: 1.2rem;
  }
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox {
    width: 100%;
  }
}

.record .sectionBoxWrapper .sectionBox:nth-child(2n+0) {
  border-left: 1px solid #CBCAFC;
  border-right: 1px solid #CBCAFC;
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox:nth-child(2n+0) {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #CBCAFC;
    border-bottom: 1px solid #CBCAFC;
  }
}

.record .sectionBoxWrapper .sectionBox .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
  margin: 1.6rem 0 0 0;
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .record .sectionBoxWrapper .sectionBox .cardTtl {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox .cardTtl {
    margin: 1rem 0 0 0;
  }
}

.record .sectionBoxWrapper .sectionBox .sectionList {
  padding: 0;
  margin: 1.6rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox .sectionList {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .sectionBox .sectionList {
    font-size: 14px;
  }
}

.record .sectionBoxWrapper .sectionBox .sectionList li {
  margin: 0.4rem 0 0 0;
}

@media (max-width: 1200px) {
  .record .sectionBoxWrapper .noLeftPadding {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .noLeftPadding {
    padding: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .record .sectionBoxWrapper .noRightPadding {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .record .sectionBoxWrapper .noRightPadding {
    padding: 1.2rem;
  }
}

/* ---------------- record end ---------------- */
/* ---------------- WorkWith start ---------------- */
.WorkWith {
  padding: 4rem 0 5rem;
  background: #F4F7FB;
}

@media (max-width: 768px) {
  .WorkWith {
    padding: 3rem 0;
  }
}

.WorkWith-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .WorkWith-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .WorkWith-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.WorkWith-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .WorkWith-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .WorkWith-content .sectionLead {
    font-size: 14px;
  }
}

.WorkWith .sectionBox {
  padding: 2rem 0 1rem;
}

@media (max-width: 768px) {
  .WorkWith .sectionBox {
    padding: 1rem 0;
  }
}

.WorkWith .sectionBox .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
  margin: 0 auto 2rem;
}

@media (max-width: 768px) {
  .WorkWith .sectionBox .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .WorkWith .sectionBox .cardTtl {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .WorkWith .sectionBox .cardTtl {
    margin: 0 auto 1rem;
  }
}

.WorkWith .sectionBox .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: #fff;
  height: 12rem;
}

@media (max-width: 576px) {
  .WorkWith .sectionBox .slide {
    height: 10rem;
  }
}

.WorkWith .sectionBox .slide-partners {
  height: 8rem;
}

@media (max-width: 576px) {
  .WorkWith .sectionBox .slide-partners {
    height: 6rem;
  }
}

.WorkWith .sectionBox .slide-partners .slideshow .content img {
  height: 4rem;
}

@media (max-width: 576px) {
  .WorkWith .sectionBox .slide-partners .slideshow .content img {
    height: 3rem;
  }
}

.WorkWith .sectionBox .slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: loop-slide 80s infinite linear 2s both;
          animation: loop-slide 80s infinite linear 2s both;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WorkWith .sectionBox .sideBorder {
  border-left: 1px solid #CBCAFC;
  min-height: 132px;
}

.WorkWith .sectionBox .content {
  padding: 0 2rem;
}

.WorkWith .sectionBox .content img {
  height: 6rem;
}

.WorkWith .sectionBox .content .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
  position: relative;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .WorkWith .sectionBox .content .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .WorkWith .sectionBox .content .cardTtl {
    font-size: 18px;
  }
}

.WorkWith .sectionBox .content .cardTtl::after {
  content: "";
  position: absolute;
  background: #004FF3;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 1px;
  width: 3rem;
  margin: auto;
}

.WorkWith .sectionBox .content .cardImg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.2rem 0 0 0;
}

.WorkWith .sectionBox .content .cardImg p {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 0;
  padding: 0 1.6rem;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .WorkWith .sectionBox .content .cardImg p {
    font-size: 14px;
  }
}

.WorkWith .sectionBox .content .cardImg p img {
  margin: auto;
  height: 56px;
  margin: 4px auto;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.WorkWith .slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* ---------------- WorkWith end ---------------- */
/* ---------------- team start ---------------- */
.team {
  padding: 4rem 0 8rem;
  background: #FAFAFA;
}

@media (max-width: 768px) {
  .team {
    padding: 3rem 0 6rem;
  }
}

.team-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .team-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .team-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.team-content .sectionLead {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .team-content .sectionLead {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .team-content .sectionLead {
    font-size: 14px;
  }
}

.team .slider-wrapper {
  padding: 1rem 0 0 0;
}

@media (max-width: 768px) {
  .team .slider-wrapper {
    padding: 0.6rem 0 0 0;
  }
}

.team .slider-wrapper .sectionBox {
  text-align: center;
}

.team .slider-wrapper .sectionBox img {
  height: 100%;
  width: 100%;
}

.team .slider-wrapper .sectionBox-Ttl {
  background: #fff;
  padding: 1.6rem;
}

.team .slider-wrapper .sectionBox-Ttl .cardTtl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #004FF3;
  font-size: 22px;
}

@media (max-width: 768px) {
  .team .slider-wrapper .sectionBox-Ttl .cardTtl {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 576px) {
  .team .slider-wrapper .sectionBox-Ttl .cardTtl {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .team .slider-wrapper .sectionBox-Ttl .cardTtl {
    font-size: 22px;
  }
}

.team .slider-wrapper .sectionBox-Ttl .cardSubttl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1A1A1A;
  margin: 0.2rem 0 0 0;
}

@media (max-width: 768px) {
  .team .slider-wrapper .sectionBox-Ttl .cardSubttl {
    margin: 0;
  }
}

.team .slider-wrapper .sectionBox .sectionList {
  margin: 0.8rem 0 0 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .team .slider-wrapper .sectionBox .sectionList {
    font-size: 14px;
  }
}

.team .slider-wrapper .sectionBox .sectionList li {
  margin: 0.4rem 0 0 0;
}

/* ---------------- team end ---------------- */
/* ---------------- recognition start ---------------- */
.recognition {
  padding: 4rem 0 6rem;
}

@media (max-width: 768px) {
  .recognition {
    padding: 3rem 0;
  }
}

.recognition-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #004FF3;
}

@media (max-width: 768px) {
  .recognition-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .recognition-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.recognition .sectionBox {
  padding: 1rem 0 0 0;
}

.recognition .sectionBox img {
  width: 336px;
}

/* ---------------- recognition end ---------------- */
/* ---------------- contact start ---------------- */
.contact {
  padding: 4rem 0 8rem;
  background: url(../img/SectionBg.png) center center no-repeat;
  background-size: cover;
}

.contact-content {
  text-align: center;
}

.contact-content .sectionTtl {
  margin: 0 0 1.2rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #fff;
}

@media (max-width: 768px) {
  .contact-content .sectionTtl {
    font-size: 33px;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 576px) {
  .contact-content .sectionTtl {
    font-size: 28px;
    margin: 0 0 0.8rem 0;
  }
}

.contact .sectionBox {
  max-width: 540px;
  margin: auto;
  color: #fff;
}

.contact .sectionBox form .button-submit {
  margin: 1.6rem 0 0 0;
  color: #004FF3;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 0;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border-radius: 0;
}

@media (max-width: 768px) {
  .contact .sectionBox form .button-submit {
    font-size: 1.2rem;
  }
}

/* ---------------- contact end ---------------- */
/* ---------------- Testimonials start ---------------- */
.slider-wrapper {
  position: relative;
}

.slider-wrapper .slider-container {
  position: relative;
}

.slider-wrapper .swiper-container {
  position: static;
}

.slider-wrapper .swiper-button-prev:focus,
.slider-wrapper .swiper-button-next:focus {
  outline: none;
}

.slider-wrapper .swiper-button-prev {
  left: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

.slider-wrapper .swiper-button-next {
  right: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

.slider-wrapper .testimonial-image {
  width: 120px;
  height: 120px;
  margin-bottom: 2.25rem;
  border-radius: 50%;
}

.slider-wrapper .testimonial-text {
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.slider-wrapper .testimonial-author {
  margin-bottom: 0.25rem;
  color: #161223;
}

.slider-wrapper .text-decoration {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------- Testimonials end ---------------- */
/*# sourceMappingURL=style.css.map */